<ng-container *ngIf="listeReservation !== null">
  <table>
    <tr>
      <th>No</th>
      <th>Titre</th>
      <th>Version</th>
      <th>Date</th>
      <th>Modifier</th>
      <th>Annuler</th>
    </tr>
    <tr *ngFor="let elementfilmReserve of listeFilm; let i = index">
      <td>{{i + 1}}</td>
      <td>{{elementfilmReserve .film.titre}}</td>
      <td>{{elementfilmReserve.film.version}}</td>
      <td>{{elementfilmReserve .date | date : 'medium'}}</td>
      <td><app-reservation-modifier [eltReservation]="elementfilmReserve" (reloadReservation)="reloadReser.emit($event)"></app-reservation-modifier></td>
      <td><app-reservation-supprimer [idReservation]="elementfilmReserve.id" (deleteReservation)="deleteReser(elementfilmReserve)"></app-reservation-supprimer></td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="listeReservation === null">
  <span>AUCUNE RESERVATION</span>
</ng-container>

