<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajout d'une seance</title>

    <div th:replace="header :: header-css"/>

</head>
<body>

<div th:replace="header :: header"/>

<div class="container">
    <h1>Ajout d'une séance</h1>
    <form action="#" th:action="@{/cinema/seances/createseance}" th:object="${seance}" method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="film" class="col-form-label">Titre du film</label>
                <select th:field="*{film}" id="film">
                    <option th:each="f: ${films}" th:value="${f.key}" th:text="${f.titre}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('film')}" th:errors="*{film}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="salle" class="col-form-label">Salle</label>
                <select th:field="*{salle}" id="salle">
                    <option th:each="s: ${salles}" th:value="${s.nom}" th:text="${s.nom}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('salle')}" th:errors="*{salle}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="dateSeance" class="col-form-label">Date</label>
                <input type="text" th:field="*{date}" class="form-control" id="dateSeance" placeholder="2018-09-24">
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="prix" class="col-form-label">Prix</label>
                <input type="number" th:field="*{prix}" class="form-control" id="prix" placeholder="10" value="-1.0">
                <span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <input type="submit" class="btn btn-primary" value="Ajouter la séance">
            </div>
        </div>
    </form>
</div>
<!-- /.container -->

<div th:replace="footer :: footer"/>

</body>
</html>