<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header-css"/>
    <title>Seance </title>
</head>
<body>
<div th:replace="header :: header"/>
<div class="container">
    <h1>Seance</h1>
    <p>Titre film : <span th:text="${seance.getFilm().titre}"></span></p>
    <p>Nom salle : <span th:text="${seance.getSalle().nom}"></span></p>
    <p>Prix : <span th:text="${seance.getPrix()}"></span> €</p>
    <p>Horaire : <span th:text="${seance.getDate()}"></span></p>
    <table class="table">
        <thead>
        <tr>
            <th> Prénom</th>
            <th> Nom </th>
            <th> Email </th>
            <th class="text-center"> Payer </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${seance.reservations.empty}">
            <td colspan="3"> Aucune réservation enregistrée. </td>
        </tr>
        <tr th:each="reserv : ${seance.reservations}">
            <td><span th:text="${reserv.prenom}"> Prenom </span></td>
            <td><span th:text="${reserv.nom}"> Nom </span></td>
            <td><span th:text="${reserv.email}"> Email </span></td>
            <td><span th:text="${reserv.isPaye()}"> isPaye </span></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="footer :: footer"/>
</body>
</html>