<mat-list>
  <h2 mat-subheader>Seances :</h2>
  <mat-list-item *ngFor="let elementSeance of listeSeance">
    <!-- Date des seances -->
    {{elementSeance.date | date : 'medium'}}
    <mat-chip-list>
      <!-- Capacité et prix des seances -->
      <mat-chip>Capacité : {{elementSeance.salle.capacite}} </mat-chip>
      <mat-chip>Prix : {{elementSeance.prix}} </mat-chip>
    </mat-chip-list>

    <!-- Button de réservation -->
    <button (click)="onClickReserver(elementSeance.id)" mat-stroked-button color = "primary">Réserver</button>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-list>
