.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

/*.mat-expansion-panel-header{
  background: antiquewhite;
}

.mat-expansion-panel-header.mat-expanded:hover {
  background: rosybrown;
}

.mat-expansion-panel {
  background: #ffe8a1;
}

.mat-expansion-panel:hover {
  background: peachpuff;
}*/

mat-card-subtitle {
  text-align: center;
}

img {
  height: 52%;
}

span {
  color: #c82333;
  font-weight: bold;
}

p {
  color: #155724;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
