<mat-toolbar color="primary">
  <mat-toolbar-row>
    CINEMA
    <button mat-raised-button class="pull-right">S'inscrire</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Liste des films">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let elementFilm of listeFilm" (opened)="getSeances(elementFilm.key)">

        <!-- Titre et Version-->
        <mat-expansion-panel-header>
          <mat-panel-title>{{elementFilm.titre}}</mat-panel-title>
          <mat-panel-description>{{elementFilm.version}}</mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Contenu -->
        Fiche : {{elementFilm.fiche}}
        <app-seances [listeSeance]="listeSeance"></app-seances>

      </mat-expansion-panel>

    </mat-accordion>

  </mat-tab>

  <mat-tab [disabled]="!isLogged" label="Mes réservations">
    <app-reservation></app-reservation>

  </mat-tab>
</mat-tab-group>


